@model MyTask

@{
    ViewData["Title"] = "Edit Task";
}

<style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 50px;
        }

        .card {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .card-header {
            background-color: #0a55a6;
            color: #fff;
            text-align: center;
            padding: 10px;
        }

        .card-body {
            padding: 20px;
        }

        .mb-3 {
            margin-bottom: 1rem;
        }

        .btn-primary {
            background-color: #0a55a6;
            border-color: #0a55a6;
        }

        .btn-primary:hover {
            background-color: #007bff;
            border-color: #007bff;
        }

        .text-center a {
            color: #007bff;
            text-decoration: none;
    }

    .text-center a:hover {
        text-decoration: underline;
    }
</style>
<h2>Edit Task</h2>

<div class="container">
    <form asp-action="Update" method="post">
        <input type="hidden" asp-for="c_taskid" />
        <div class="form-group">
            <label asp-for="c_tasktypeid">Task Type:</label>
            <input asp-for="c_tasktypeid" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="c_taskissue">Task Issue:</label>
            <input asp-for="c_taskissue" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="c_initialdate">Assign Date:</label>
            <input asp-for="c_initialdate" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="c_duedate">Due Date:</label>
            <input asp-for="c_duedate" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="c_status">Status:</label>
            <input asp-for="c_status" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Update Task</button>
        <button class="btn btn-primary" asp-action="Index">Back to List</button>
    </form>
</div>
